* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  /* outline: 1px solid red; */
}

html {
  font-size: 18px;
}

body {
  background-color: #feff89;
  font-family: 'PixelizerBold', sans-serif;
  width: auto;
  height: 100vh;
  font-size: 1rem;
}

@font-face {
  font-family: 'PixelizerBold';
  src: url('./fonts/PixelizerBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

