body {
  padding: 0px;
  margin: 0px;
  background-color: #feff89;
  font-family: 'PixelizerBold', sans-serif;
  width: auto;
  height: 100vh;
}

@font-face {
  font-family: 'PixelizerBold';
  src: url('./fonts/PixelizerBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* .root {
  width: 100%;
  min-height: 100vh;
} */